<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rodzina</title>
</head>
<body>


<center>
<form action="#" th:action="@{/register}" th:object="${accountFormObject}" method=post>

    <p th:text="#{firstNameDescription}"></p>
        <input type="text" th:field="*{firstName}"/></br>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

    <p th:text="#{lastNameDescription}"></p>
        <input type="text" th:field="*{lastName}"/></br>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

    <!--<p th:text="${birthdayDescription}"></p>
        <input type="text" th:field="*{age}"/></br>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>-->

    <p th:text="#{emailDescription}"></p>
        <input type="text" th:field="*{email}"/></br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <p th:text="#{phoneNumberDescription}"></p>
        <input type="text" th:field="*{phoneNumber}"/></br>
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

    <p th:text="#{passwordDescription}"></p>
        <input type="text" th:field="*{password}"/></br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <p th:text="#{repeatedPasswordDescription}"></p>
        <input type="text" th:field="*{repeatedPassword}"/></br>
    <span th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></span>
    <span th:text="${repeatedPasswordFailure}"></span>

    </br> <input type="submit" value = "Zarejestruj"/>
</form>
</center>
</body>
</html>