<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family</title>
</head>
<body>
<center>
    <p><span>[[${#httpServletRequest.remoteUser}]]!</span></p>
    <a th:href="@{/home/family}">Zarządzanie rodziną</a> <br/>
    <a th:href="@{/home/budget}">Budżet domowy</a> <br/>
    <a th:href="@{/home/kitchen}">Kuchnia</a> <br/>
    <hr/>
</center>
    <center> Dane rodziny</center>
    <p>Owner: <span th:utext="${familyOwner}"></span></p><!--przeniesc do modelu-->
    <p>Title: <span th:utext="${familyObject.title}"></span></p>
    <p>Maximum members amount: <span th:utext="${familyObject.maxMembers}"></span></p>
    <p>Maximum jars amount: <span th:utext="${familyObject.maxJars}"></span></p>
    <p>Email notifications: <span th:utext="${familyObject.emailNotificationsEnabled}"></span></p><!--przeniesc do modelu-->
    <p>Phone notifications: <span th:utext="${familyObject.phoneNotificationsEnabled}"></span></p><!--przeniesc do modelu-->
    <hr/>

    <center> Czlonkowie rodziny</center>
    <hr/>
    <center> Aktywne zaproszenia</center>
    <hr/>


<form th:action="@{/home/family/addMember}" th:object="${familyObject}" method="POST">
    <div>
        <p><span><input type="text" name="newMemberEmail"/></span></p></br>
        <input type="hidden" th:name="familyId" th:value="${familyObject.id}"/>
        <input type="hidden" th:name="title" th:value="${familyObject.title}"/>
        <input type="hidden" th:name="maxMembers" th:value="${familyObject.maxMembers}"/>
        <input type="hidden" th:name="maxJars" th:value="${familyObject.maxJars}"/>
        <input type="hidden" th:name="emailNotificationsEnabled" th:value="${familyObject.emailNotificationsEnabled}"/>
        <input type="hidden" th:name="phoneNotificationsEnabled" th:value="${familyObject.phoneNotificationsEnabled}"/>
    </div>
    <input type="submit" value="Wyslij zaproszenie"/>
</form>

</body>
</html>